<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All posts</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div><a th:href="@{/}">Назад</a> </div>
<div><a th:href="@{/posts/new_post}">Створити пост</a> </div>
<h1 th:inline="text">Стрічка постів</h1>
<table>
    <tr>
        <th>Дата</th>
        <th>Тема</th>
        <th></th>
    </tr>
    <tr th:each="post:${posts}">
        <td th:text="${post.getDate()}"></td>
        <td th:text="${post.getTitle()}"></td>
        <td><a th:href="@{/posts/{id}(id=${post.getId()})}">Переглянути</a></td>
    </tr>
</table>

</body>
</html>